body {
  font-family: Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1580582932707-520aed937b7b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2xhc3Nyb29tfGVufDB8fDB8fHww);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

.catalogo {
  max-width: 700px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.sala {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0px 1px 15px black;
}

.sala:hover {
  transform: scale(1.02);
}

.info-sala p {
  margin: 5px 0;
}

.status-livre {
  color: green;
  font-weight: bold;
}

.status-ocupada {
  color: red;
  font-weight: bold;
}

.botao-selecionar {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.botao-selecionar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
